body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffafb;
  line-height: 1.6;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-weight: bold;
  letter-spacing: 2px;
  color: #ff69b4;
}

label {
  display: block;
  color: #ff69b4;
  padding: 5px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d1d5da;
  border-radius: 15px;
  display: block;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d1d5da;
  border-radius: 15px;
  display: block;
}

button {
  background-color: #ff69b4;
  color: white;
  border: none;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: pink;
}